.footer-container {
    height: 100%;
    background: #fff;
    font-family: "Lato", sans-serif;
    margin: 1em 0 0 0;

}

.footer {
    display: block;
    background-color: rgb(0, 105, 9);
    background-size: cover;
    background-position: top;
    color: black;

    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    gap: 1rem;
}

.footer > .logo {
    justify-self: center;
}



.footer-list {
    border-top: 1px solid #fff;
    margin: 0;
    padding: 0;
}

.footer li {
    text-decoration: none;
    list-style-type: none;
    margin: 1em;
}

a {
    color: #fff;
}

.footer-copyright {
    border-top: 1px solid white;
}



/* Media Queries */

@media screen and (min-width: 576px) {
    
    .footer {
        display: block;
        background-size: cover;
        background-position: top;
        color: black;
        --auto-grid-min-size: 16rem;
        display: grid;
        grid-template-columns: auto 33%;
        grid-template-rows: 8% 30% 2 10%;
        grid-template-areas:
            "logo logo logo"
            "list . copyright";
    }
    
    .footer > .logo {
        justify-self: center;
        grid-area: logo;
    }
    

    .footer-list {
        border-top: 1px solid #fff;
        margin: 0;
        padding: 0;
        grid-area: list;
    }

    .footer-copyright {
        border-top: 1px solid white;
        grid-area: copyright;
    }


}